/**
 * The stylesheet for the public facing part of the plugin.
 *
 * @link              https://github.com/demispatti/cb-parallax/
 * @since             0.1.0
 * @package           cb_parallax
 * @subpackage        cb_parallax/public/css
 * Author:            Demis Patti <demis@demispatti.ch>
 * Author URI:        http://demispatti.ch
 * License:           GPL-2.0+
 * License URI:       http://www.gnu.org/licenses/gpl-2.0.txt
 */

html {
    width: 100%;
    height: 100%;
}

#cb-parallax-container {
    left: 0;
    -webkit-position: fixed;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;

    -webkit-transition: transform cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: transform cubic-bezier(0.77, 0, 0.175, 1);
    -ms-transition: transform cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: transform cubic-bezier(0.77, 0, 0.175, 1);
    transition: transform cubic-bezier(0.77, 0, 0.175, 1);
}

#cb-parallax-container img {
    width: 100%;
    height: auto;
}

body.custom-background {
    width: 100%;
    height: 100%;
}
